<mat-toolbar>
  <mat-toolbar-row>
            <span>
                <mat-form-field>
                  <input [(ngModel)]="search_data.title" matInput placeholder="search">
                </mat-form-field>
                <button mat-button (click)="search()" (keydown)="keyDownFunction($event)">Suchen</button>
            </span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-accordion>
  <mat-expansion-panel *ngFor="let datum of data">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{datum.title}}
      </mat-panel-title>
      <mat-panel-description>
        {{datum.description}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <button mat-button [routerLink]="['/details', datum.id]">Details</button>
    </div>
  </mat-expansion-panel>

</mat-accordion>
